h3{
   margin-top:  200px;
   color: limegreen;
   text-align: center;
   font-size:25px;
}

form, h4{
  margin-left: 600px;
}

.display_word{
 margin-left: 600px;

}

.image {
margin-left: 1000px;
margin-top: -300px;
}

.feed,  .again{
margin-left: 600px;
margin-top:200px;
color: purple;
}

.again{
margin-top:40px;
}

.again  a{
text-decoration: none;
}