{% extends 'base_repeat.html' %}

{% load static %}

{% block toolbar %}
<a class="active" href="{% url 'echen:Home' %}">Home</a>
{% endblock toolbar %}


{% block links %}
 <link href="{% static 'styling/styles1.css' %}"   rel="stylesheet">
{% endblock links %}



{% block body %}


<h3>
 <a href="{% url 'repeat:Tables' %}">Click here!</a>
</h3>

<hr>
<br>
<h3>{{author}} {{heading}}</h3>
 <h1>{{author}}</h1>
<br>
{% for b in books %}
<ul>
     <li>{{b.title}}</li>
     </i>{{b.description}}</li>
</ul>


{% endfor %}

{% endblock body %}